<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="label" padding>  
        <ion-col text-center class="detail">
          <ion-label >Fill Details</ion-label>
        </ion-col>
          <ion-item>
      <ion-label position="floating">name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">contect</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">address</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <ion-button expand="block" fill="clear" color="transparent">submit</ion-button>
    <ion-button (click)="logoutUser()">
        Logout
      </ion-button>
</ion-content>
