<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-button (click)="opneActionSheet()">Action Sheet</ion-button> -->
  <ion-fab>
    <ion-row text-center> 
      <ion-fab-button size ="small"(click)="opneActionSheet()">+</ion-fab-button>
      <ion-fab-button size ="small"(click)="showToast()"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button size ="small"(click)="showToast()"><ion-icon name="heart"></ion-icon></ion-fab-button>
    </ion-row>
  </ion-fab>

</ion-content>
